<!-- Loop over each object in the projects array -->
{{#each blog_posts as |blog_post|}}
  <div class='row mb-4 blog_post'>
    <div class='col-md-5'>
      <h2>
        <a href='/blog_post/{{blog_post.id}}'>{{blog_post.name}}</a>
      </h2>

      <p>Created by
        {{blog_post.user.name}}
        on
        {{format_date blog_post.date_created}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{blog_post.description}}
      </p>
    </div>
  </div>
{{/each}}